$color-key: #faf8f5;
$color-sub: #5d261b;
$color-hover: #9b837f;

// $font-serif: 'Kaisei Tokumin', serif;
$font-san: 'Zen Maru Gothic', sans-serif;

$break-point-pc: 1200px;
$break-point-tb: 768px;
$break-point-sp: 375px;
